<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400115603694-8bpuf67tg47dnutv13516bsfobm3qipr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400115603694-8bpuf67tg47dnutv13516bsfobm3qipr</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ0ovB9nmAl0fn_CVKsNuFN6SPhHYqvvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>400115603694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramCloneFlutter</string>
	<key>PROJECT_ID</key>
	<string>instagram-flutter-clone-1eaa7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-flutter-clone-1eaa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400115603694:ios:f6519be555cd50d1a3bbff</string>
</dict>
</plist>